<!DOCTYPE html>
<html>
<head>
  <title>Splurty-zgabriel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<div class="circle">
			  <br />
			  quotes
			  <br />
			  because
			  <br />
			  bullshit
			</div>
		</div>
		<div class="col-xs-4 slogan">
			Splurting out quotes. Because.
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />
	<br class="clear" />

	<div class="container">
		<%= yield %>
	</div>
	
	<div class="footer">
		<div class="container">
			<div class="col-xs-6">
				<%= link_to "MOAR WISDOM.", "#", :class => 'next-quote' %>
			</div>
			<div class="col-xs-6 footer-blurb">
				Made by Zavo. I follow directions.<br />
				Build your own Splurty app at <a href="http://thefirehoseproject.com">The Firehose Project</a>
			</div>
		</div>
	</div>


</body>
</html>
